@import url('https://fonts.googleapis.com/css2?family=Chokokutai&display=swap');
body{
    font-family: 'franklin Gothic Medium','Arial Narrow',arial,;
    font-size : 200%;
    font-weight: 400;
     background-color: black;
     background-image: linear-gradient(to bottom,white,black);
}main{
    background-color: purple;
    background-image: repeating-linear-gradient(purple);
    max-width: 70%;
    border-radius: 5%;
    padding-bottom: 20%;
    margin: auto;
}header{
    background-color: whitesmoke;
    color: black;
    text-align: center;
    background-image:linear-gradient(to left,white,black);
}h1,h2{
    text-align: center;
    color: rgb(173, 235, 74);
    font-family: 'Chokokutai', cursive;
}h3{
    text-align: center;
    color: rgb(75, 232, 243);
    font-family: cursive;
}.principal{
    background-color:rgb(52, 223, 186);
    border-radius: 1%;
    background-image:linear-gradient(to margin-left,white,black);
}.titulo{
    color:red;
}.destaque{
    background-color:rgb(206, 60, 211);
    border-radius: 10%;
}.container{
    display:inline-block;
    justify-content:start;
}h4{
    text-align: center;
    color: rgb(10, 58, 129);
    font-family: cursive;
}div{
    width: 3em;
    height: 3em;
    background-color:rgb(48, 171, 228);
    /*margin-top: 1em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;*/
    /*margin:1em 2em 1em 2em;*/
    /*margin: 1em 2em;*/

    margin:1em;
    padding:1em;

    /*border:0.5em solid black;*/

    border-color: black;
    border-style: dashed;
    border-width: 0.001em;
}article{
    border-bottom: 0.1em solid forestgreen;
    border-top: 0.1em solid forestgreen;
}#sublinhar{
    text-decoration: underline rgb(185, 166, 185);
}